<div class="menu">
  <input (input)="changeStyle($event, 'color')" class="menu__items" placeholder="Color">
  <input (input)="changeStyle($event, 'fontSize')" class="menu__items" placeholder="Font Size">
  <input (input)="changeStyle($event, 'width')" class="menu__items" placeholder="Width">
  <input (input)="changeStyle($event, 'height')" class="menu__items" placeholder="Height">
  <input (input)="changeStyle($event, 'borderColor')" class="menu__items" placeholder="Border Color">
  <input (input)="changeStyle($event, 'borderRadius')" class="menu__items" placeholder="Border Radius">
</div>


