
<div class="form-builder">
  <div class="example-container">
    <div
      cdkDropList
      #todoList="cdkDropList"
      [cdkDropListData]="todo"
      [cdkDropListConnectedTo]="[doneList]"
      class="example-list"
      (cdkDropListDropped)="drop($event)">
      <div class="example-box" *ngFor="let i of todo" cdkDrag [formGroup]="form">
        <ng-template [cdkPortalOutlet]="i">{{i}}</ng-template>
      </div>
    </div>
</div>

  <div class="example-container">
    <div

      cdkDropList
      #doneList="cdkDropList"
      [cdkDropListData]="done"
      [cdkDropListConnectedTo]="[todoList]"
      class="example-list"
      (cdkDropListDropped)="drop($event)">
      <div #newForm class="example-box" *ngFor="let i of done" cdkDrag [formGroup]="form">
        <ng-template [cdkPortalOutlet]="i">{{i}}</ng-template>
      </div>
    </div>
    <button (click)="createForm()" class="form-btn">Create Form</button>
  </div>

  <div class="example-container">
    <app-portalmenu></app-portalmenu>
     <button (click)="changeStyle()" class="form-btn">Change</button>
  </div>
</div>

  <div #newFormBlock class="newForm">
    <div class="newFormBlock">
      <button (click)="closeForm()" class="closeForm">&#215;</button>
      <div #newFormContainer class="newFormContainer">
    </div>
  </div>
</div>





<ng-template #buttonTemplate>
    <app-button-template (click)="choiceElement($event); showFormValue()"></app-button-template>
</ng-template>

<ng-template #inputTemplate [formGroup]="form">
  <app-input-template formControlName="input" (click)="choiceElement($event)"></app-input-template>
</ng-template>

<ng-template #textareaTemplate [formGroup]="form">
  <app-textarea-template formControlName="textarea"  (click)="choiceElement($event)"></app-textarea-template>
</ng-template>

<ng-template #checkboxTemplate [formGroup]="form">
  <app-checkbox-template formControlName="checkbox" (click)="choiceElement($event)"></app-checkbox-template>
</ng-template>

<ng-template #selectTemplate [formGroup]="form">
  <app-select-template formControlName="select" (click)="choiceElement($event)"></app-select-template>
</ng-template>









