
<div class="form-builder ">
  <div class="example-container">
    <div
      cdkDropList
      #todoList="cdkDropList"
      [cdkDropListData]="todo"
      [cdkDropListConnectedTo]="[doneList]"
      class="example-list"
      (cdkDropListDropped)="drop($event)">
      <div class="example-box" *ngFor="let i of todo" cdkDrag><ng-template [cdkPortalOutlet]="i">{{i}}</ng-template></div>
    </div>
</div>

  <div class="example-container">

    <div
      #newForm
      cdkDropList
      #doneList="cdkDropList"
      [cdkDropListData]="done"
      [cdkDropListConnectedTo]="[todoList]"
      class="example-list"
      (cdkDropListDropped)="drop($event)">
      <div  class="example-box" *ngFor="let i of done" cdkDrag><ng-template [cdkPortalOutlet]="i">{{i}}</ng-template></div>
    </div>
    <button (click)="createForm()" class="form-btn">Create Form</button>
  </div>

  <div class="example-container">
    <app-portalmenu></app-portalmenu>
     <button (click)="changeStyle()" class="form-btn">Change</button>
  </div>
</div>

<div #newFormBlock class="newForm">
  <div #newFormContainer class="newFormContainer">
    <button (click)="closeForm()" class="closeForm">&#215;</button>
  </div>
</div>




<ng-template #buttonTemplate >
    <app-button-template   (click)="choiceElement($event)"></app-button-template>
</ng-template>

<ng-template #inputTemplate>
  <app-input-template (click)="choiceElement($event)"></app-input-template>
</ng-template>

<ng-template #textareaTemplate>
  <app-textarea-template (click)="choiceElement($event)"></app-textarea-template>
</ng-template>

<ng-template #checkboxTemplate>
  <app-checkbox-template (click)="choiceElement($event)"></app-checkbox-template>
</ng-template>

<ng-template #selectTemplate>
  <app-select-template (click)="choiceElement($event)"></app-select-template>
</ng-template>









