<div class="autorization">
    <form class="form-registration" [formGroup]="form" (ngSubmit)="submit()">
        <h3 class="form-title">Registration</h3>
        <div class="form__input-group">
            <input formControlName="email" class="form-input" placeholder="Enter your email" name="email">
          <div *ngIf="form.get('email')?.status == 'INVALID' && form.get('email')?.touched" class="form-validation">
            <small *ngIf="form.get('email')?.errors?.required">Write something</small>
            <small *ngIf="form.get('email')?.dirty && form.get('email')?.value.length > 0">Your email is incorrect</small>
          </div>

            <input formControlName="password" class="form-input" placeholder="Enter your Password" type="password">
          <div *ngIf="form.get('password')?.status == 'INVALID' && form.get('password')?.touched" class="form-validation">
            <small *ngIf="form.get('password')?.errors?.required">Write something</small>
            <small *ngIf="form.get('password')?.errors?.pattern && form.get('password')?.value.length > 0">Password is incorrect</small>
          </div>
        </div>
        <button class="form-btn" type="submit" [disabled]="form.invalid">Registration</button>

        <div class="logIn">
            <button class="logIn__btn" type="button" (click)="redirectToLogIn()">Log in</button>
        </div>
    </form>
</div>
