.form__template_btn {
    font-size: 16px;
    background-color: transparent;
    padding: 10px;
    border: 2px solid;
    width: 100%;
    margin-bottom: 5px;
    max-width: 370px;
    max-height: 80px;
}
