
$registration-background: #fff;
$form-title: #fff;
$form-title-background: #57b846;
$form-input: #ebebeb;
$form-btn-bckg: #57b846;
$form-btn: #fff;
$form-wrong-data: red;
$form-logIn-btn-registration: #999;
