
<div class="menu">
    <input (input)="changeWidth($event)" class="menu_items" placeholder="Width">
    <input (input)="changeHeight($event)" class="menu_items" placeholder="Height">
    <input (input)="changeBorderStyle($event)" class="menu_items" placeholder="Border Style">
    <input (input)="changeFontSize($event)" class="menu_items" placeholder="Font Size">
    <input (input)="changeFontWeight($event)" class="menu_items" placeholder="Font Weight">
    <input (input)="changeColor($event)" class="menu_items" placeholder="Color">

</div>
