@import 'app/shared/style/reset';

@font-face {
  font-family: 'Roboto', sans-serif;
  src: url("app/shared/fonts/Roboto-Light.ttf");
}

html, body { height: 100%; }
body {
    font-family: Roboto, "Helvetica Neue", sans-serif;
    background-color: rgb(233, 235, 234);
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
